$font-Size :18; //18 = Taille en px sur la maquette
$h1-font-size : (28/18); //28 = Taille en px sur la maquette
$h2-font-size : (20/18) ; // 20 = Taille h2 sur la maquette

$color-orange : #EC4A3B;
$color-white: #ffffff;
$color-grey: #878787;

*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.blogCard{
    
    width: 350px;
    border: 1px solid blue;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    position: relative;


    img{
        width: 100%;
    }

    time{
        background-color: $color-orange;

        //Positionnement
        position: absolute;
        right: 20px;
        top: 20px;

        //Forme ronde
        border-radius: 60px;
        width: 50px;
        height: 50px;

        //Contenu
        color:$color-white;
        text-align: center;

        span{
            display: block;
        }
    }

    p{
        transform: scaleY(0);
        overflow: hidden;
    }

    .blogCardContent{
        transition: 1s;
        padding: 34px;

        position: relative;
        background-color: $color-white;

        &::before{
            content:'Photos';
            position: absolute;
            top:-40px;
            left: 0;
            background-color: $color-orange;
            padding: 14px;
            color: $color-white;
        }
    }

    &:hover{
       
        .blogCardContent{
            transition: 1s;
            transform: translateY(-50px);

            p{
                transition: 1s;
                transform: scaleY(100%);
            }
        }
    }
}

.blogCardContent{
    position: relative;
    top:-10px;
    background-color: $color-white;
}



.blogCard-details{
    display: flex;
    justify-content: center;
    gap: 16px;

    color: $color-grey;
    
li{
    padding-bottom: 34px;
}
}


h1{
    font-size: $h1-font-size+em;
    font-weight: 700;
    
}

h2{
   font-size: $h2-font-size+em;
   color: $color-orange;

   margin: 20px 0 40px 0;
}


