$font-Size :18; //18 = Taille en px sur la maquette
$h1-font-size : (26/$font-Size); //28 = Taille en px sur la maquette
$h2-font-size : (20/18) ; // 20 = Taille h2 sur la maquette

$color-orange : #EC4A3B;
$color-white: #ffffff;
$color-grey: #878787;

*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.blogCard{
    
    width: 350px;
    position: relative;
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;

    overflow: hidden;


    img{
        width: 100%;
        transition: 1s;
        z-index: 99;

    }

    time{
        z-index: 1;
        background-color: $color-orange;

        //Positionnement
        position: absolute;
        right: 20px;
        top: 20px;

        //Forme ronde
        border-radius: 60px;
        //width: 55px;
        //height: 50px;
        padding: 16px;

        //Contenu
        color:$color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            display: block;
        }
    }

  

    .blogCard-content{
        padding: 34px;

        position: relative;
        background-color: $color-white;
        z-index: 2;
        transition: transform 1s;

        p{
            overflow: hidden;
            opacity: 0;
            position: absolute;
            

        }


        &::before{
            content:'Photos';
            position: absolute;
            top:-40px;
            left: 0;
            background-color: $color-orange;
            padding: 14px;
            color: $color-white;
        }
    }


    &:hover{

        img{
            transition: 1s;
            opacity: 0.5;
            transform: scale(1.3);
        }
        .blogCard-content{
            
            transition: 1s;gi
            transform: translateY(-60px);

            p{
                transition: 2s;
                opacity: 1;
                
            }
        }
    }
}





.blogCard-details{
    z-index: 100;
    position: relative; //rel pour le z-index => static fonctionne pas
    display: flex;
    justify-content: center;
    gap: 16px;

    background-color: $color-white;

    color: $color-grey;
    
li{
    padding-left: $font-Size+px;
    position: relative;

    padding-bottom: 34px;
    &::before{
        content: "";
        display: block;
        height: $font-Size+px;
        width: $font-Size+px;
        background-size: contain;
        position: absolute;
        left: -$h1-font-size+px;
        background-repeat: no-repeat;
        

    }



    &:first-child::before{
        background-image: url("assets/fa-regular_clockico-.svg");
    }
    &:nth-child(2):before{
        background-image: url("assets/fa-solid_commentsico-.svg");
    }
}
}


h1{
    font-size: $h1-font-size+em;
    letter-spacing: 0.06em;
    
}

h2{
   font-size: $h2-font-size+em;
   color: $color-orange;

   margin: 20px 0 40px 0;
}


