//Comment 1

/*
Comment 
2 
*/

html{
    //font-size: (12/16)*1em;
    font-size: (12/16)*100%;
}

.foo{
    background-color: orange;
    p{
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }
    font: {
        family: arial;
        weight:bold;
        size:2em
    }
    &.block{
        border: 1px solid;
    }
}

a{
    color: blue;
    text-decoration: none;
    a:hover{
        text-decoration: underline;
    }
}

.foo {
    .cssgradients & {
      background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
      background: -moz-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
      background: linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
    }
    .no-cssgradients & {
      background: #c9de96;
    }
  }


  $border-color: #ccc;

  .box{
    border:1px solid $border-color;
  }


  $standard-border-color:grey;
  $winning-border-color: green;

  .user-dialog-box{
        border:10px solid $standard-border-color;
        padding: 10px;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }

    .alert-winning-user{
@extend .user-dialog-box;
border-color: $winning-border-color;
    }


//-----------------

%standard-dialog-box{
    border:10px solid $standard-border-color;
    padding:10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.user-notification{
    @extend %standard-dialog-box;
}

.alert-winning-user{
    @extend .user-dialog-box;
    border-color: $winning-border-color;
}

//MIXIN == fonction
@mixin dialog-box($border-color) {
    border:10px solid $border-color;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.alert-winning-user-mixin{
    @include dialog-box(green)    
}

